@media screen and (max-width: 390px) {
	.roundButton {
		text-align: center;
		width: 9vmax;
		height: 9vmax;
	} 
}

@media screen and (min-width: 390px) {
	.roundButton {
		text-align: center;
		width: 10vmax;
		height: 10vmax;
	} 
}

@media screen and (min-width: 992px) {
	.roundButton {
		text-align: center;
		width: 8.75vmax;
		height: 8.75vmax;
	} 
}

.disabledButton {
  width: 2.5vmax;
  height: 2.5vmax;
}

@media screen and (max-width: 600px) {
	.responsiveContent {
		padding-top: 1.65vh;
		text-align: center;
    font-size: 10px;
  }
}

@media screen and (min-width: 600px) {
  .responsiveContent {
		padding-top: 1.65vh;
		text-align: center;
    font-size: 13px;
  }
}

@media screen and (min-width: 800px) {
  .responsiveContent {
		padding-top: 1.65vh;
		text-align: center;
    font-size: 15px;
  }
}

@media screen and (min-width: 1462px) {
  .responsiveContent {
		padding-top: 1.65vh;
		text-align: center;
    font-size: 17px;
  }
}

@media screen and (max-width: 600px) {
  .responsiveIcon {
		font-size: 17px;
  }
}

@media screen and (min-width: 600px) {
  .responsiveIcon {
    font-size: 34px;
  }
}

.btn-ripple {
	display: inline-block;
	position: relative;
	overflow: hidden;
	transition: all ease-in-out .5s;
	text-align: center;
}

.btn-ripple::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 25%;
	height: 100%;
	width: 50%;
	background-color: #000;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
	transition: all ease-in-out 1s;
	transform: scale(5, 3);
}

.btn-ripple:active::after {
	padding: 0;
	margin: 0;
	opacity: .2;
	transition: 0s;
	transform: scale(0, 0);
}

/********************************************************************************************/

.modalContainer {
	min-width: 80%;
	animation-name: unfoldIn;
	animation-duration: 1s;
}

.modalHeader {
	background-color: rgb(48, 48, 58);
	box-shadow: inset 0 0 1vh;
	height: 3vh;
}

@media screen and (max-width: 992px) {
	.headerText {
		font-size: 14px;
		color: white;
	}
}

@media screen and (min-width: 992px) {
	.headerText {
		color: white;
	}
}

.modalBody {
	background-color: rgb(29, 29, 36);
	min-height: 85vh;
}

@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
  }
}