.custom-tag {
  min-width: 100%;
  height: 80vh;
  background: black;
}

@media screen and (max-width: 992px) {
  .buttonCar {
    margin-left: 5%;
    margin-right: 5%;
    top: 47%;
    height: 6vmax;
    width: 6vmax;
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 50%;
  }
}

@media screen and (min-width: 992px) {
  .buttonCar {
    margin-left: 4%;
    margin-right: 4%;
    top: 44%;
    height: 6vmax;
    width: 6vmax;
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 50%;
  }
}


