.custom-tag-video {
  min-width: 100%;
  height: 80vh;
  background: black;
}

.custom-tag-text {
  min-width: 100%;
  height: 80vh;
  background: rgba(32, 32, 32, 0);
  overflow-y: auto;
}

@media screen and (max-width: 992px) {
  .buttonCar {
    margin-left: 0%;
    margin-right: 0%;
    top: 47%;
    height: 5vmax;
    width: 5vmax;
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;    
  }
  .buttonCar:hover {
    background-color: red;
  }
}

@media screen and (min-width: 992px) {
  .buttonCar {
    margin-left: 4%;
    margin-right: 4%;
    top: 44%;
    height: 5vmax;
    width: 5vmax;
    background-color: black;
    border: 5px solid white;
    border-radius: 50%;
  }
  .buttonCar:hover {
    background-color: red;
  }
}


